
<div class="container">
    <span class="p-float-label">
        <input [id]="id" [formControl]="control" type="text" pInputText /> 
        <label [for]="id">{{ label }}</label>
    </span>
    <my-validation-message [control]="control"></my-validation-message>
</div>