
@import '../../colors.scss';

@media only screen and (max-width: 768px) {

    img {
        width: 100%;
        height: 350px;
    }
    
    canvas{
        margin: 0 auto;
    }

    label {
        margin-left: 10px;
    }

    p-chart ::ng-deep div {
        margin: auto;
    }

    div.quizTitle {
        margin: 30px 0px 10px 0px;
        span {
            color: $cwhite2-phone;
            text-transform: uppercase;
            font-size: 30px;
        }
    }
    
    div.quizQuestion {
        padding: 20px;
        margin-bottom: 20px;
        background-color: $cwhitet-phone;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    
    div.quizChart {
        padding: 20px;
        margin-bottom: 20px;
        background-color: $cwhitet-phone;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        max-width: 500px;
        margin: auto !important;
    }
}

@media only screen and (min-width: 768px) {

    img {
        width: 100%;
        height: 350px;
    }

    div.container {
        width: 50%;
        margin: auto;
    }
    
    label {
        margin-left: 10px;
    }

    p-chart ::ng-deep div {
        margin: auto;
    }

    div.quizTitle {
        margin: 30px 0px 10px 0px;
        span {
            color: $cwhite2;
            text-transform: uppercase;
            font-size: 30px;
        }
    }
    
    div.quizQuestion {
        padding: 20px;
        margin-bottom: 20px;
        background-color: $cwhitet;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    
    div.quizChart {
        padding: 20px;
        margin-bottom: 20px;
        background-color: $cwhitet;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        max-width: 500px;
        margin: auto !important;
    }
}

button.downloadPdfBtn {
    ::ng-deep svg {
        margin-left: 5px;
    }
    &.hidde-download-icon ::ng-deep svg {
        display: none;
    }
}