
<div class="container" #pdfTable>

    <div class="p-grid">
        <div class="p-col ac">
            <!--button [class.dn]="!showGoToManager" pButton [routerLink]="'/quiz-manager'" [label]="'basic.goToManager' | translate" class="p-button-outlined mybuttonwhite2 m5i"></button-->
            <button pButton [routerLink]="'/quiz'" [label]="'basic.goQuizs' | translate" class="p-button-outlined mybuttonwhite2 m5i"></button>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col ac quizTitle">
            <span>{{ quiz?.name }}</span>
        </div>
    </div>
    
    <div class="quizQuestion" *ngFor="let question of quiz?.questions">
        <div class="p-grid">
            <div class="p-col">
                <span class="tbl-header">{{ question.question }}</span>
            </div>
        </div>
    
        <div *ngFor="let response of question.responses">
            <div class="p-grid">
                <div class="p-col">
                    <p-checkbox [name]="'question' + question.id" [value]="response" [(ngModel)]="questionResponses[question.id]" [inputId]="'response' + response.id"></p-checkbox>
                    <label [for]="'response' + response.id" class="tbl-body">{{ response.response }}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col ac">
            <button pButton [label]="'basic.result' | translate" class="p-button-outlined mybuttonblack m5i" (click)="showResult()"></button>
            <button pButton [class.hidde-download-icon]="!downloadingPdf" [class.cursor-disabled]="!downloadDisabled || downloadingPdf" [disabled]="!downloadDisabled || downloadingPdf" [label]="' '" class="p-button-outlined mybuttonblack m5i downloadPdfBtn" (click)="downloadAsPDF()">
                <label>{{ 'basic.pdfdownload' | translate }}</label>
                <i class="fas fa-yin-yang fa-spin"></i>
            </button>
        </div>
    </div>
    
    
    <div [class.dn]="!downloadDisabled" class="p-grid quizChart m5i">
        <div class="p-col ac">
            <p-chart type="pie" [data]="result" [options]="chartOptions" height="350px" width="288px"></p-chart>
        </div>
    </div>

</div>