
@import '../../colors.scss';

div.container {
    padding: 5px 15px;
}

@media only screen and (max-width: 768px) {

    p-table ::ng-deep {

        table {
            width: 100%;
        }

        .actions {
            padding: 10px !important;
            width: 150px;
        }

        thead tr th {
            background-color: $cheader-phone !important;
        }

        tbody tr {
            background-color: $cwhitet-phone !important;
        }
    }

    div.title {
        text-align: center;
        text-transform: uppercase;
        padding: 30px 0px 10px 0px;
        font-size: 30px;
        color: $cwhite2-phone;
    }

    p-tabview ::ng-deep div.p-tabview {

        .p-tabview-panels {
            padding: 16px 0px;
            background-color: $cwhitet-phone !important;
            height: 80vh;
            overflow: auto;
        }

        .p-tabview-nav li.p-highlight .p-tabview-nav-link {
            border-color: $clinkdark-phone;
            color: $clinkdark-phone;
        }
        
        .p-tabview-nav li .p-tabview-nav-link {
            background-color: transparent;
            &:hover {
                background-color: transparent !important;
            }
        }

        .p-tabview-nav {
            background-color: $cheader-phone !important;
        }
    }
}

@media only screen and (min-width: 768px) {

    p-table ::ng-deep {

        table {
            width: 100%;
        }

        .actions {
            padding: 10px !important;
            width: 150px;
        }

        thead tr th {
            background-color: $cheader !important;
        }

        tbody tr {
            background-color: $cwhitet !important;
        }
    }

    div.title {
        text-align: center;
        text-transform: uppercase;
        padding: 30px 0px 10px 0px;
        font-size: 30px;
        color: $cwhite2;
    }

    p-tabview ::ng-deep div.p-tabview {

        .p-tabview-panels {
            padding: 16px 0px;
            background-color: $cwhitet !important;
            height: 80vh;
            overflow: auto;
        }

        .p-tabview-nav li.p-highlight .p-tabview-nav-link {
            border-color: $clinkdark;
            color: $clinkdark;
        }
        
        .p-tabview-nav li .p-tabview-nav-link {
            background-color: transparent;
            &:hover {
                background-color: transparent !important;
            }
        }

        .p-tabview-nav {
            background-color: $cheader !important;
        }
    }
}

