
<div class="p-grid">
    <div class="p-col pl0i pr0i">
        <div class="title">{{ quiz?.name }}</div>
    </div>
</div>
    
<div class="p-grid">
    <div class="p-col pl0i">

        <p-tabView *ngIf="quiz">
            <p-tabPanel>

                <ng-template pTemplate="header">{{ 'quiz-details.tabs.questions' | translate }}</ng-template>
        
                <div class="container">
                
                    <div class="p-grid">
                        <div class="p-col pl0i pr0i ar">
                            <button pButton pRipple type="button" icon="fas fa-plus" label="{{ 'basic.add.question' | translate }}" class="p-button-outlined mybutton" (click)="addQuestionClick()"></button>
                        </div>
                    </div>
                    
                    <div *ngFor="let question of questionArray" class="p-grid">
                        <div class="p-col pl0i pr0i">
                            <question [question]="question"></question>
                        </div>
                    </div>
                
                </div>
        
            </p-tabPanel>
            <p-tabPanel>

                <ng-template pTemplate="header">{{ 'quiz-details.tabs.results' | translate }}<span *ngIf="!resultArray?.length" class="error">&nbsp;●</span></ng-template>
        
                <div class="container">
                
                    <div class="p-grid">
                        <div class="p-col ar">
                            <button pButton pRipple type="button" icon="fas fa-plus" label="{{ 'basic.add.result' | translate }}" class="p-button-outlined mybutton" (click)="addResultClick()"></button>
                        </div>
                    </div>
                    
                    <div class="p-grid">
                        <div class="p-col">
        
                            <p-table [value]="resultArray">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="tbl-header">{{ 'quiz-details.addResultDialog.columns.result' | translate }}</th>
                                        <th class="tbl-header">{{ 'quiz-details.addResultDialog.columns.color' | translate }}</th>
                                        <th class="actions tbl-header">{{ 'quiz-details.addResultDialog.columns.actions' | translate }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-result>
                                    <tr>
                                        <td>{{ result.result }}</td>
                                        <td><span [style.color]="result.color">■</span>{{ result.color }}</td>
                                        <td class="actions">
                                            <button pButton pRipple type="button" icon="fas fa-edit" class="p-button-rounded p-button-text b-edit" (click)="modifyResultClick(result)"></button>
                                            <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text b-remove" (click)="removeResultClick(result)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        
                        </div>
                    </div>
                
                </div>
        
            </p-tabPanel>
        </p-tabView>        

    </div>
</div>

<p-dialog
    *ngIf="addQuestionModalVisible" [(visible)]="addQuestionModalVisible"
    [resizable]="false" [closable]="false" [style]="{width: '750px'}">

    <p-header>{{ questionModalHeader }}</p-header>

    <form [formGroup]="questionForm">
        
        <input formControlName="id" type="hidden" />
        <input formControlName="quizId" type="hidden" />

        <div class="p-grid p-col">
            <my-inputtext [id]="'question'" [form]="questionForm" [label]="'quiz-details.addQuestionDialog.form.question' | translate"></my-inputtext>
        </div>

    </form>

    <p-footer>
        <button pButton pRipple type="button" [label]="'basic.cancel' | translate" class="p-button-secondary" (click)="addQuestionModalCancel()"></button>
        <button pButton pRipple type="button" [label]="questionSaveBtnLabel" class="b-accept" (click)="addQuestionModalCreate()"></button>
    </p-footer>

</p-dialog>

<p-dialog
    *ngIf="addResultModalVisible" [(visible)]="addResultModalVisible"
    [resizable]="false" [closable]="false" [style]="{width: '750px'}">

    <p-header>{{ resultModalHeader }}</p-header>

    <form [formGroup]="resultForm">
        
        <input formControlName="id" type="hidden" />
        <input formControlName="quizId" type="hidden" />

        <div class="p-grid">
            <div class="p-col-9">
                <my-inputtext [id]="'result'" [form]="resultForm" [label]="'quiz-details.addResultDialog.form.result' | translate"></my-inputtext>
            </div>
            <div class="p-col-3">
                <my-inputcolor [id]="'color'" [form]="resultForm" [label]="'quiz-details.addResultDialog.form.color' | translate"></my-inputcolor>
            </div>
        </div>

    </form>

    <p-footer>
        <button pButton pRipple type="button" [label]="'basic.cancel' | translate" class="p-button-secondary" (click)="addResultModalCancel()"></button>
        <button pButton pRipple type="button" [label]="resultSaveBtnLabel" class="b-accept" (click)="addResultModalCreate()"></button>
    </p-footer>

</p-dialog>
