

<div class= "container">
    
    <div class="logginframe">
        <div class="p-grid">
            <div class="p-col ac title-container">
                <span class="title">{{'login.authentication.required' | translate}}</span>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col ac input-container">
    
                <form [formGroup]="loginForm">
                    <div class="p-inputgroup">
                        <input type="password" pPassword formControlName="password" [feedback]="false" [showPassword]="showPassword"/>  
                        <span class="p-inputgroup-addon clickable">
                            <button [class.dn]="!showPassword" pButton pRipple type="button" icon="fas fa-eye" class="p-button-rounded p-button-text b-add" (click)="toggleChangePassword()"></button>
                            <button [class.dn]="showPassword" pButton pRipple type="button" icon="fas fa-eye-slash" class="p-button-rounded p-button-text b-add" (click)="toggleChangePassword()"></button>
                        </span>      
                    </div>
                </form>
    
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col ac button-container">
                <button pButton pRipple type="button" label="{{ 'basic.login' | translate }}" class="p-button-outlined mybutton2" (click)="login()"></button>
            </div>
        </div>
    </div>
    
</div>
