
@import '../../colors.scss';


@media only screen and (max-width: 768px) {

    div.logginframe {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: $cwhitet-phone;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    span.title {
        font-size: 20px;
        text-transform: uppercase;
        color: $ctitle2-phone;
    }
}

@media only screen and (min-width: 768px) {

    div.logginframe {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: $cwhitet;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    span.title {
        font-size: 20px;
        text-transform: uppercase;
        color: $ctitle2;
    }
}

div.container {
    padding: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100%;
    max-width: 750px;
    min-height: 300px;
}

div.title-container {
    padding-top: 40px;
}

div.input-container {
    padding-top: 35px;
}

div.button-container {
    padding-top: 35px;
    button {
        min-width: 150px;
    }
}