<div class="container">
    
    <div class="p-grid">
        <div class="p-col">
            <label [for]="id">{{ label }}</label>
            <p-colorPicker [id]="id" [formControl]="control" format="hex" [appendTo]="'body'"></p-colorPicker>
        </div>
    </div>

    <my-validation-message [control]="control"></my-validation-message>
</div>