
<p-table [value]="responseArray">
    <ng-template pTemplate="header">
        <tr>
            <th class="tbl-header">{{ question.question }}<span *ngIf="!question.valid" class="error"> ●</span></th>
            <th class="actions">
                <button pButton pRipple type="button" icon="fas fas fa-plus" class="p-button-rounded p-button-text b-add" (click)="addResponseClick(question)"></button>
                <button pButton pRipple type="button" icon="fas fa-edit" class="p-button-rounded p-button-text b-edit" (click)="modifyQuestionClick(question)"></button>
                <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text b-remove" (click)="removeQuestionClick(question)"></button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-response>
        <tr>
            <td class="tbl-body">{{ response.response }}<span *ngIf="!response.valid" class="error"> ●</span></td>
            <td class="actions">
                <button pButton pRipple type="button" icon="fas fa-list" class="p-button-rounded p-button-text b-action" (click)="resultModalOpen(response)"></button>
                <button pButton pRipple type="button" icon="fas fa-edit" class="p-button-rounded p-button-text b-edit" (click)="modifyResponseClick(response)"></button>
                <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text b-remove" (click)="removeResponseClick(response)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    *ngIf="addResponseModalVisible" [(visible)]="addResponseModalVisible"
    [resizable]="false" [closable]="false" [style]="{width: '750px'}">

    <p-header>{{ responseModalHeader }}</p-header>

    <form [formGroup]="responseForm">
        
        <input formControlName="id" type="hidden" />
        <input formControlName="questionId" type="hidden" />

        <div class="p-grid p-col">
            <my-inputtext [id]="'response'" [form]="responseForm" [label]="'quiz-details.addResponseDialog.form.response' | translate"></my-inputtext>
        </div>

    </form>

    <p-footer>
        <button pButton pRipple type="button" [label]="'basic.cancel' | translate" class="p-button-secondary" (click)="addResponseModalCancel()"></button>
        <button pButton pRipple type="button" [label]="responseSaveBtnLabel" class="b-accept" (click)="addResponseModalCreate()"></button>
    </p-footer>

</p-dialog>

<p-dialog
    *ngIf="addResultModalVisible" [(visible)]="addResultModalVisible"
    [resizable]="false" [closable]="false" [style]="{width: '750px'}">

    <p-header>{{ responseAsTitle(selectedResponse.response) }}</p-header>

    <form [formGroup]="responseResultForm">
        <input formControlName="responseId" type="hidden"/>
        <div class="p-grid">
            <div class="p-col-5">
                <p-dropdown
                    formControlName="resultId"
                    [options]="resultOptions"
                    [appendTo]="'body'">
                </p-dropdown>
            </div>
            <div class="p-col-5">
                <div class="p-grid">
                    <div class="p-col">
                        <label>{{ ('question.responseResultForm.weight' | translate) + ' ' + responseResultForm.controls.weight.value }}</label>
                    </div>
                </div>
                <div class="p-grid">  
                    <div class="p-col">
                        <p-slider formControlName="weight" [min]="0" [max]="10" [step]="1"></p-slider>
                    </div>
                </div>
            </div>
            <div class="p-col-2 ar">
                <button pButton pRipple type="button" icon="fas fa-plus" label="{{ 'basic.add' | translate }}" class="p-button-outlined mybutton"  (click)="addResponseResult()"></button>
            </div>
        </div>
    </form>
    <div class="p-grid">
        <div class="p-col">
            <p-table [value]="responseResultArray">
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ 'question.responseResultList.result' | translate }}</th>
                        <th [style.width]="'25px'">{{ 'question.responseResultList.weight' | translate }}</th>
                        <th class="actions">{{ 'question.responseResultList.actions' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-responseResult>
                    <tr>
                        <td>{{ responseResult.result }}</td>
                        <td>{{ responseResult.weight }}</td>
                        <td class="actions">
                            <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text b-remove" (click)="removeResponseResultClick(responseResult)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-footer>
        <button pButton pRipple type="button" [label]="'basic.close' | translate" class="p-button-secondary" (click)="resultModalClose()"></button>
    </p-footer>

</p-dialog>
