
@import '../../colors.scss';

@media only screen and (max-width: 768px) {

    p-table ::ng-deep {

        table {
            width: 100%;
        }

        .actions {
            padding: 10px !important;
            text-align: right !important;
            width: 150px;
        }

        thead tr th {
            background-color: $cheader-phone !important;
        }

        tbody tr {
            background-color: $cwhitet-phone !important;
        }
    }
}

@media only screen and (min-width: 768px) {

    p-table ::ng-deep {

        table {
            width: 100%;
        }

        .actions {
            padding: 10px !important;
            text-align: right !important;
            width: 150px;
        }

        thead tr th {
            background-color: $cheader !important;
        }

        tbody tr {
            background-color: $cwhitet !important;
        }
    }
}

p-dropdown ::ng-deep div.p-dropdown {
    width: 100%;
}