
<div>

    <router-outlet class="hidden-router"></router-outlet>
    
    <p-toast key="main" position="bottom-right"></p-toast>
    
    <p-confirmDialog
        [header]="'confirmation.header' | translate"
        icon="'pi pi-info-circle'"
        [acceptLabel]="'confirmation.yes' | translate"
        [rejectLabel]="'confirmation.no' | translate">
    </p-confirmDialog>

</div>