
<button *ngIf="!quiz.visible" pButton pRipple type="button" icon="fas far fa-eye-slash" class="p-button-rounded p-button-text b-action" (click)="updateValid()"></button>
<button *ngIf="quiz.visible" pButton pRipple type="button" icon="fas fa-eye" class="p-button-rounded p-button-text b-action" (click)="updateInvalid()"></button>