
@media only screen and (max-width: 768px) {
    button.btn-quiz {
        width: 100%;
        ::ng-deep span {
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}

@media only screen and (min-width: 768px) {
    button.btn-quiz  {
        min-width: 750px;
        ::ng-deep span {
            font-size: 26px;
            text-transform: uppercase;
        }
    }
}