
<div class="p-grid mb-10">
    <div class="p-col ac">
        <button [class.dn]="!showGoToManager" pButton [routerLink]="'/quiz-manager'" [label]="'basic.goToManager' | translate" class="p-button-outlined mybuttonwhite2 m5i"></button>
        <button pButton [routerLink]="'/login'" [label]="'basic.logout' | translate" class="p-button-outlined mybuttonwhite2 m5i"></button>
    </div>
</div>

<div *ngFor="let quiz of quizArray" class="p-grid">
    <div class="p-col ac">
        <button pButton [routerLink]="'/quiz/' + quiz.id" [label]="quiz.name" class="p-button-outlined mybuttonwhite2 btn-quiz"></button>
    </div>
</div>