
@import '../../colors.scss';


@media only screen and (max-width: 768px) {

    p-table ::ng-deep {

        table {
            width: 100%;
        }

        thead th {
            background-color: $cheader-phone !important;
            padding: 8px 14px !important;
        }

        tbody tr {
            background-color: $cwhitet-phone !important;
        }

        /*
        th {
            background-color: rgb(76, 104, 231) !important;
            color: rgb(255, 255, 255) !important;
        }
        */

        .actions {
            text-align: right !important;
            width: 150px;
        }
    }
}

@media only screen and (min-width: 768px) {
    
    p-table ::ng-deep {

        table {
            width: 100%;
        }

        thead th {
            background-color: $cheader !important;
            padding: 8px 14px !important;
        }

        tbody tr {
            background-color: $cwhitet !important;
        }

        /*
        th {
            background-color: rgb(76, 104, 231) !important;
            color: rgb(255, 255, 255) !important;
        }
        */

        .actions {
            text-align: right !important;
            width: 150px;
        }
    }
}

p-table.body ::ng-deep {
    div.p-datatable-wrapper {
        height: 80vh;
        overflow: auto;
    }
}