
<p-table [value]="quizArray" selectionMode="single" [(selection)]="selectedQuiz" dataKey="id" (onRowSelect)="onQuizSelect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>{{ 'quiz-menu.header' | translate }}</th>
            <th class="actions">
                <button pButton pRipple type="button" icon="fas fa-plus" class="p-button-rounded p-button-text b-add" (click)="addQuizClick()"></button>
            </th>
        </tr>
    </ng-template>
</p-table>
<p-table class="body" [value]="quizArray" selectionMode="single" [(selection)]="selectedQuiz" dataKey="id" (onRowSelect)="onQuizSelect($event)">
    <ng-template pTemplate="body" let-quiz>
        <tr [pSelectableRow]="quiz">
            <td>{{ quiz.name }}<span *ngIf="!quiz.valid" class="error"> ●</span></td>
            <td class="actions">
                <my-view-button [quiz]="quiz"></my-view-button>
                <button pButton pRipple type="button" icon="fas fa-edit" class="p-button-rounded p-button-text b-edit" (click)="modifyQuizClick(quiz)"></button>
                <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text b-remove" (click)="removeQuizClick(quiz)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    *ngIf="addQuizModalVisible" [(visible)]="addQuizModalVisible"
    [resizable]="false" [closable]="false" [style]="{width: '750px'}">

    <p-header>{{ modalHeader }}</p-header>

    <form [formGroup]="quizForm">
        
        <input formControlName="id" type="hidden" />

        <div class="p-grid p-col">
            <my-inputtext [id]="'name'" [form]="quizForm" [label]="'quiz-menu.addQuizDialog.form.name' | translate"></my-inputtext>
        </div>

    </form>

    <p-footer>
        <button pButton pRipple type="button" [label]="'basic.cancel' | translate" class="p-button-secondary" (click)="addQuizModalCancel()"></button>
        <button pButton pRipple type="button" [label]="saveBtnLabel" class="b-accept" (click)="addQuizModalCreate()"></button>
    </p-footer>

</p-dialog>