
$cwhite: #FFFFFF;
$cwhite2: #333333;
$cwhitet: #FFFFFFCC;
$cwhitet2: #3d3d3d59;
$cblack: #000000EE;
$cblackt: #000000CC;
$ctitle: #4c5c72;
$ctitle2: #2f3846;
$cheader: #f7faffAA;
$clink: #4289da;
$clinkdark: #31649e;
$creject: rgb(96, 125, 139);
$cadd: #3670b3;
$cedit: #42daac;
$cdelete: #7042da;
$caction: #cd42da;

$cwhite-phone: #FFFFFF;
$cwhite2-phone: #585858;
$cwhitet-phone: #FFFFFFCC;
$cwhitet2-phone: #3d3d3d59;
$cblack-phone: #000000EE;
$cblackt-phone: #000000CC;
$ctitle-phone: #4c5c72;
$ctitle2-phone: #2f3846;
$cheader-phone: #f7faffAA;
$clink-phone: #4289da;
$clinkdark-phone: #31649e;
$creject-phone: rgb(96, 125, 139);
$cadd-phone: #3670b3;
$cedit-phone: #42daac;
$cdelete-phone: #7042da;
$caction-phone: #cd42da;
