
@import './colors.scss';

@media only screen and (max-width: 768px) {

    body {
        background-image: url('src/assets/img/background-phone.jpg');
        // background-size: 100vw 100vh;
        background-size: cover;
        background-position-x: 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    div.p-toast-message {
        max-width: calc(100vw - 100px);
        float: right;
    }

    .b-add {
        color: $cadd-phone !important;
    }
    .b-accept {
        background-color: $clink-phone !important;
    }
    .b-edit {
        color: $cedit-phone !important;
    }
    .b-remove {
        color: $cdelete-phone !important;
    }
    .b-action {
        color: $caction-phone !important;
    }
    
    .background-whitet {
        background-color: $cwhitet-phone !important;
    }
    
    button.p-button.p-button-outlined.mybutton {
    
        background-color: transparent;
        color: $clink-phone;
        border: 1px solid;
    
        &:hover {
            
            background-color: $clink-phone;
            color: $cwhite-phone;
            border: 1px solid;
        }
    }
    
    button.p-button.p-button-outlined.mybutton2 {
    
        background-color: transparent;
        color: $clinkdark-phone;
        border: 1px solid;
    
        &:hover {
            
            background-color: $clinkdark-phone;
            color: $cwhite-phone;
            border: 1px solid;
        }
    }
    
    button.p-button.p-button-outlined.mybuttonwhite {
    
        background-color: transparent;
        color: $cwhite2-phone;
        border: 1px solid;
    
        &:hover {
            
            background-color: $cwhite2-phone;
            color: $clinkdark-phone;
            border: 1px solid;
        }
    }
    
    button.p-button.p-button-outlined.mybuttonblack {
    
        background-color: $cblackt-phone;
        color: $cwhite-phone;
        border: 1px solid;
    
        &:hover {
            
            background-color: $cblack-phone;
            color: $cwhite-phone;
            border: 1px solid;
        }
    }
    
    button.p-button.p-button-outlined.mybuttonwhite2 {
    
        background-color: $cwhitet2-phone;
        color: $cwhite-phone;
        border: 1px solid;
    
        &:hover {
            
            background-color: $cwhite2-phone;
            color: $cwhite-phone;
            border: 1px solid $cwhite-phone;
        }
    }
    
    .tbl-header {
        font-weight: 600;
        font-size: 18px;
        color: $ctitle-phone !important;
    }
    
    .tbl-body {
        padding: 10px !important;
        font-size: 17px;
        color: $ctitle-phone !important;
    }
    
    button.p-confirm-dialog-accept {
        background: $clink-phone;
        min-width: 80px;
        span.p-button-icon {
            display: none;
        }
    }
    
    button.p-confirm-dialog-reject {
        background: $creject-phone;
        min-width: 80px;
        span.p-button-icon {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {

    body {
        background-image: url('src/assets/img/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .b-add {
        color: $cadd !important;
    }
    .b-accept {
        background-color: $clink !important;
    }
    .b-edit {
        color: $cedit !important;
    }
    .b-remove {
        color: $cdelete !important;
    }
    .b-action {
        color: $caction !important;
    }
    
    .background-whitet {
        background-color: $cwhitet !important;
    }
    
    button.p-button.p-button-outlined.mybutton {
    
        background-color: transparent;
        color: $clink;
        border: 1px solid;
    
        &:hover {
            
            background-color: $clink;
            color: $cwhite;
            border: 1px solid;
        }
    }
    
    button.p-button.p-button-outlined.mybutton2 {
    
        background-color: transparent;
        color: $clinkdark;
        border: 1px solid;
    
        &:hover {
            
            background-color: $clinkdark;
            color: $cwhite;
            border: 1px solid;
        }
    }
    
    button.p-button.p-button-outlined.mybuttonwhite {
    
        background-color: transparent;
        color: $cwhite2;
        border: 1px solid;
    
        &:hover {
            
            background-color: $cwhite2;
            color: $clinkdark;
            border: 1px solid;
        }
    }
    
    button.p-button.p-button-outlined.mybuttonblack {
    
        background-color: $cblackt;
        color: $cwhite;
        border: 1px solid;
    
        &:hover {
            
            background-color: $cblack;
            color: $cwhite;
            border: 1px solid;
        }
    }
    
    button.p-button.p-button-outlined.mybuttonwhite2 {
    
        background-color: $cwhitet2;
        color: $cwhite;
        border: 1px solid;
    
        &:hover {
            
            background-color: $cwhite2;
            color: $cwhite-phone;
            border: 1px solid $cwhite-phone;
        }
    }
    
    .tbl-header {
        font-weight: 600;
        font-size: 18px;
        color: $ctitle !important;
    }
    
    .tbl-body {
        padding: 10px !important;
        font-size: 17px;
        color: $ctitle !important;
    }
    
    button.p-confirm-dialog-accept {
        background: $clink;
        min-width: 80px;
        span.p-button-icon {
            display: none;
        }
    }
    
    button.p-confirm-dialog-reject {
        background: $creject;
        min-width: 80px;
        span.p-button-icon {
            display: none;
        }
    }
}

.w100 {
    width: 100%;
}

.dn {
    display: none !important;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.al {
    text-align: left;
}

mb-10 {
    margin-bottom: 10px;
}

.m5 {
    margin: 5px;
}

.m5i {
    margin: 5px !important;
}

.mr15i {
    margin-right: 15px !important;
}

.pl0i {
    padding-left: 0px !important;
}

.pr0i {
    padding-right: 0px !important;
}

.pt20i {
    padding-top: 20px !important;
}

span.error {
    color: #e73737;
}
.clickable {
    cursor: pointer;
}
.cursor-disabled {
    cursor: no-drop !important;
}