
<div class="p-grid">
    <div class="p-col-3">
        <div class="p-grid">
            <div class="p-col nav-button">
                <button pButton pRipple [routerLink]="'/quiz'" type="button" icon="fas fa-clipboard-list" [label]="'basic.goQuizs' | translate" class="p-button-outlined mybuttonwhite2 m5i"></button>
                <button pButton pRipple [routerLink]="'/login'" type="button" icon="fas fa-sign-out-alt" [label]="'basic.logout' | translate" class="p-button-outlined mybuttonwhite2 m5i"></button>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <quiz-menu></quiz-menu>
            </div>
        </div>
    </div>
    <div class="p-col-9">
        <quiz-details></quiz-details>
    </div>
</div>